{% extends "base.html" %}


{% block content %}
   <div class="row">
        <div class="col-xs-12">

        <div id={{ chartID|safe }} class="chart" style="height: 500px; width: 100%"></div>
             <script>
                var chart_id = {{ chartID|safe }}
                var series = {{ series|safe }}
                var title = {{ title|safe }}
                var xAxis = {{ xAxis|safe }}
                var yAxis = {{ yAxis|safe }}
                var chart = {{ chart|safe }}
             </script>
       </div>
    </div>

{% endblock %}
{% block scripts %}
  {{super()}}
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src='{{ url_for('static', filename='js/chart.js') }}'></script>
{% endblock %}
