.row{
    margin: 0px 0px 0px 0px;
}
.navbar{
    margin: 1px 1px 1px 1px;
}
.navbar-brand{
    padding: 5px 10px;
}
.container-fluid{
    padding-left: 45px;
    padding-right: 20px;
}
.label-Buy {
    background-color: #449D44;
    border-color: #398439;
}
.label-Wait {
    background-color: #777;
}
.label-Sell {
    background-color: #D9534F;
    border-color: #D43F3A;
}
.table-responsive {
    margin-top: 15px;
}
